@font-face {
  font-family: PlusJakartaSans-Italic;
  src: url(assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: PlusJakartaSans;
  src: url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: PlusJakartaSans;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Slatew: hsl(202, 86%, 94%);
  --Slatel: hsl(203, 41%, 72%);
  --Slateg: hsl(200, 26%, 54%);
  --Slatevg: hsl(200, 24%, 40%);
  --Slated: hsl(202, 55%, 16%);
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
}
body {
  background-color: hsl(202, 86%, 94%) !important;
}
.container1 {
  width: 850px;
  margin: 100px auto;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: #ffff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.container1 .illustration {
  border-radius: 0 15px 15px 55px;
  width: 425px;
  background-color: var(--Slated);
  padding: 40px;
  text-align: center;
  color: var(--Slatew);
}
.container1 .illustration img {
  margin-top: 40px;
}
.container1 .illustration h2 {
  font-size: 20px;
  margin: 18px 0;
}
.container1 .illustration p {
  font-size: 13px;
  color: var(--Slateg);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.container1 .content {
  background-color: #ffff;
  width: 425px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 30px;
}
.container1 .content h1 {
  font-size: 20px;
  color: var(--Slated);
}
.container1 .content #clear {
  font-size: 13px;
  color: var(--Slatevg);
  border-bottom: 1px solid var(--Slatevg);
  font-weight: 600;
  cursor: pointer;
}
.container1 .content h3 {
  font-size: 13px;
  color: var(--Slatevg);
  font-weight: 600;
}
.container1 .content input {
  outline: 0;
  border: 0px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 2px 8px;
  transition: 0.2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.container1 .content .term-invest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.container1 .content .radio {
  text-align: left;
}
.container1 .content .radio label {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--Slatevg);
  height: 40px;
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
  padding: 2px 10px;
  outline: 0;
  color: var(--Slated);
  font-weight: 600;
  transition: 0.2s;
  accent-color: var(--Lime);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.container1 .content .radio label:hover {
  border: 1px solid var(--Lime);
  background-color: #dedfa887;
}
.container1 .content .radio label input {
  width: 17px;
  border: 0;
  outline: 0;
  accent-color: #959800;
}
.container1 .content button {
  background-color: var(--Lime);
  border: 0;
  outline: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 45px;
  padding: 0 20px;
  color: var(--Slated);
  margin-top: 40px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}
.container1 .content button:hover {
  background-color: #c6c856ca;
}
.no-wrap{
  border: 1px solid var(--Slatevg);
  flex-wrap: nowrap !important;
  border-radius: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.no-wrap input {
  cursor: pointer;
}
.no-wrap:hover {
  border: 1px solid var(--Lime);
}
.no-wrap input:focus {
  box-shadow: 0 0 0 #ddd !important;
}
@media (max-width: 900px) {
  .container1 {
    width: 100%;
    margin: 0;
    display: block;
    border-radius: 15px;
  }
  .container1 .illustration {
    border-radius: 0;
    width: 100%;
  }
  .container1 .content {
    width: 100%;
    border-radius: 0;
    padding: 30px;
  }
  .container1 .content .term-invest {
    display: block;
  }
  .container1 .content button {
    margin: 40px auto;
    margin-bottom: 0;
    width: 100%;
    justify-content: center;
  }
}
